<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="/">Внутренние сервисы компании</a>
            <p class="navbar-text">Signed in as Mark Otto</p>
            <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/deals">Deals</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <!--<li><a target="blanck_" href="http://192.168.50.5:8080/sklad/">Складской учет</a></li>-->
                <!--<li><a target="blanck_" href="http://192.168.50.5:8080/zakaz/">Заказы</a></li>-->
                <!--<li><a target="blanck_" href="http://192.168.50.7/">GitLab (IT-отдел)</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a target="blanck_" href="http://bonvio.com/">Cайт компании</a></li>-->

                <!--<li ng-hide="user"><a ui-sref="login">Login</a></li>

                <li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>-->


                <!--
                    If you like this example please flattr or donate before removing the links below, thank you!
                -->
                <!--<li>
                    <a href="https://flattr.com/submit/auto?user_id=shoxrocks&amp;url=http://sorst.net/github/angular-rest-springsecurity&amp;title=AngularJS%20REST%20Spring%20Security%20Example&amp;language=&amp;tags=github&amp;category=software"><img src="https://github-camo.global.ssl.fastly.net/739a757846f69c1cc10163619eec008e871b591b/687474703a2f2f6170692e666c617474722e636f6d2f627574746f6e2f666c617474722d62616467652d6c617267652e706e67" alt="Flattr this git repo" style="max-width:100%;"></a>
                </li>
                <li>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=W9NAXW8YAZ4D6&item_name=AngularJS REST SpringSecurity Example Donation&currency_code=EUR"><img src="http://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate" /></a>
                </li>
                <li class="dropdown" ng-show="user">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    </ul>
                </li>-->


                <!--
                <li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a></li>
                <li><a href="http://blog.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a></li>
                -->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>